/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
    box-sizing: border-box;
    /* the size of the box will be constant and if i add margine it will shrink the box */
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}